/* PROJET 5 OC: PROJET PERSONNEL */
/* BLOG STYLESHEET */
/* Reset CSS */ 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body {
	margin: 0;
	padding: 0;
}
a:focus
{
outline:0;
} 
strong {
	font-weight: 700;
}
em {
	font-style: italic;
}

/*----- BLOGTEMPLATE PAGE -----*/
body {
    background-image: url("../public/images/texture_geometrique2.jpeg")!important;
}
.blog_header {
    /* position: fixed;
    z-index: 99; */
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.6);
    justify-content: center;
    width: 100%;
    height: 120px; 
    border-bottom: 2px solid black;
    padding: 2%;
}
.blog_header h1 {
    font-family: 'Major Mono Display', cursive;
    font-size: 3em;
}
.blog_header h2 {
    font-family: 'Pacifico';
    font-size: 3em;
}
.blog_header h3 {
    font-family: 'poiret one', cursive;
    font-size: 1.2em;
    position: absolute;
    margin-top: 2%;
    margin-left: 25%;   
}
.copyright_container {
    justify-content: center;
}
/*----- INDEXBLOGVIEW PAGE -----*/
            /*----- PRESENTATION AND NAVIGATION -----*/        
.blog_presentation_container {
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 0 auto;
    margin-bottom: 20px;
    width: 80%;
    padding: 20px;
}
.blog_presentation_container h4 {
    font-family: 'poiret one', cursive;
    font-size: 1.1em;
}

            /*----- CONTENT ARTICLES AND PORTRAITS -----*/
.content_container {
    font-family: 'Poiret one', cursive;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 20px auto;
}
.content_container h5 {
    font-size: 1.8em;
    padding-bottom: 20px;
}
.lasts_contents {
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.6);  
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 20px;
}
.lasts_portraits {
    margin-bottom: 100px;
}
.last_article_published,
.last_portrait_published {
    display: flex;
    flex-direction: column;
}
.last_article_published h3,
.last_portrait_published h3 {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    font-size: 1.4em;
    margin-left: 50px;
    width: 60%;
    margin-bottom: 20px;
}
.last_article_published p,
.last_portrait_published p {
    margin-top: 10px;
    margin-left: 20px;
}
.lire_plus {
    color: #128f8c;
    font-size: 1em;
    margin-top: 10px;
    margin-left: 500px;
}
.lire_plus:hover {
    color: darkgrey;
}

            /*----- CONTENT ARCHIVES -----*/
.archives_container {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 20px;
}
.archives_container h6 {
    font-size: 1.5em;
    margin-bottom: 10px;
}
.archives_portraits {
    margin-bottom: 30px;
}
.last_tree_articles,
.last_tree_portraits {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-left: 30px;
    font-size: 1.5em;    
}
.last_tree_articles a,
.last_tree_portraits a {
    color: #128f8c;
}
.last_tree_articles a:hover,
.last_tree_portraits a:hover {
    color: darkgrey;
}

/*----- ARTICLES VIEW AND PORTRAITS VIEW PAGE -----*/
.nav_articles,
.nav_portraits {
    display: flex;
    flex-direction: row;
    font-family: 'poiret one', cursive;
}
.show_article,
.show_portrait {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 20px;
}
.all_portraits_list,
.all_articles_list {
    display: flex;
    flex-direction: column;
    width: 30%;
}
.portrait_container,
.article_container,
.comments,
.comments_portrait,
.create_comments_portrait,
.comments_article,
.create_comments_article {
    display: flex;
    flex-direction: column;
}
.portrait_container,
.article_container {
    margin-bottom: 8    0px;
}
.article_container h3,
.portrait_container h3 {
    margin-bottom: 10px;
}
.article_container p,
.portrait_container p {
    margin-left: 30px;
}
.comment_container {
    display: flex;
    flex-direction: column;
}
.comment_published {
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 30px;
}
hr {
    border: 1px solid #128f8c;
    width: 400px;
    margin: 20px 0!important;
}
.portrait_container h2,
.article_container h2 {
    font-size: 1.8em;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    width: 60%;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.comments_portrait h3,
.comments_article h3 {
    font-size: 0.9em!important;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    width: 60%;
    margin-top: 40px;
    margin-bottom: 30px; 
}
.create_comments_portrait h3,
.create_comments_article h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}
.create_comments_portrait h4,
.create_comments_article h4 {
    margin-bottom: 30px;
}
.comments_form {
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20Px;
}
.comments_form input,
.comments_form textarea {
    font-family: 'poiret one', cursive;
    margin-bottom: 5px;
}
.all_portraits_list h5,
.all_articles_list h5 {
    font-size: 1.8em;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    width: 90%;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 20px;
}
.all_portraits h3, 
.all_articles h3 {
    font-size: 1.6em;
    margin-bottom: 10px;
}
.signal_message {
    color: red;
}
.error-message {
    display: inline;
    color: red;
    display: none;
}

/*--------------------------*/
/*----- MEDIA QUERIES ------*/
/*--------------------------*/

/*------ BLOGTEMPLATE PAGE -----*/
@media all and (min-width: 320px) and (max-width: 374px){
    .blog_header {
        flex-direction: column;
        align-items: center;
        height: 180px;
    }
    .blog_header h3 {
        margin-left: 0px;
        margin-top: 20px;
    }
}
@media all and (min-width: 375px) and (max-width: 424px){
    .blog_header {
        flex-direction: column;
        align-items: center;
        height: 180px;
    }
    .blog_header h3 {
        margin-left: 0px;
        margin-top: 20px;
    }
}
@media all and (min-width: 425px) and (max-width: 767px){
    .blog_header {
        flex-direction: column;
        align-items: center;
        height: 180px;
    }
    .blog_header h3 {
        margin-left: 0px;
        margin-top: 20px;
    }
}
@media all and (min-width: 768px) and (max-width: 1023px){
    .blog_header {
        flex-direction: column;
        align-items: center;
        height: 180px;
    }
    .blog_header h3 {
        margin-left: 0px;
        margin-top: 20px;
    }
}
@media all and (min-width: 1024px) and (max-width: 1439px){
    
}

/*------ INDEXBLOGVIEW PAGE -----*/
@media all and (min-width: 320px) and (max-width: 374px){
    .content_container {
        flex-direction: column;
    }
    hr {
        width: 150px;
    }
    .lire_plus {
        margin-left: 100px;
    }
    .img_portraits,
    .img_articles {
        width: 250px;
    }
    .lasts_contents {
        width: 90%;
    }
    .last_article_published h3, 
    .last_portrait_published h3 {
        margin-left: 25px; 
        width: 85%;
    }
    .archives_container {
        width: 90%;
    }
}
@media all and (min-width: 375px) and (max-width: 424px){
    .content_container {
        flex-direction: column;
    }
    hr {
        width: 150px;
    }
    .lire_plus {
        margin-left: 100px;
    }
    .img_portraits,
    .img_articles {
        width: 250px;
    }
    .lasts_contents {
        width: 90%;
    }
    .last_article_published h3, 
    .last_portrait_published h3 {
        margin-left: 25px; 
        width: 85%;
    }
    .archives_container {
        width: 90%;
    }
}
@media all and (min-width: 425px) and (max-width: 767px){
    .content_container {
        flex-direction: column;
    }
    hr {
        width: 150px;
    }
    .lire_plus {
        margin-left: 100px;
    }
    .img_portraits,
    .img_articles {
        width: 250px;
    }
    .lasts_contents {
        width: 90%;
    }
    .last_article_published h3, 
    .last_portrait_published h3 {
        margin-left: 25px; 
        width: 85%;
    }
    .archives_container {
        width: 90%;
    }
}
@media all and (min-width: 768px) and (max-width: 1023px){
    .content_container {
        flex-direction: column;
    }
    hr {
        width: 150px;
    }
    .lire_plus {
        margin-left: 100px;
    }
    .img_portraits,
    .img_articles {
        width: 250px;
    }
    .lasts_contents {
        width: 90%;
    }
    .last_article_published h3, 
    .last_portrait_published h3 {
        margin-left: 25px; 
        width: 85%;
    }
    .archives_container {
        width: 90%;
    }
}
@media all and (min-width: 1024px) and (max-width: 1439px){
    
}

/*------ ARTICLESVIEW  AND PORTRAITS PAGE -----*/
@media all and (min-width: 320px) and (max-width: 374px){
    .nav_articles, 
    .nav_portraits {
        flex-direction: column;
    }
    .portrait_container h2, 
    .article_container h2 {
        width: -webkit-fill-available;
    }
    .article_container img, 
    .portrait_container img {
        width: 260px;
        height: 200px;
    }
    .show_article, 
    .show_portrait {
        width: 100%;
    }
    .article_container p, 
    .portrait_container p {
        margin-left: 0px;
    }
    .comments_form {
        width: 100%;
    }
    .all_portraits_list, 
    .all_articles_list {
        margin-left: 10px;
        margin-bottom: 20px;
        width: 97%;
    }
}
@media all and (min-width: 375px) and (max-width: 424px){
    .nav_articles, 
    .nav_portraits {
        flex-direction: column;
    }
    .portrait_container h2, 
    .article_container h2 {
        width: -webkit-fill-available;
    }
    .article_container img, 
    .portrait_container img {
        width: 260px;
        height: 200px;
    }
    .show_article, 
    .show_portrait {
        width: 100%;
    }
    .article_container p, 
    .portrait_container p {
        margin-left: 0px;
    }
    .comments_form {
        width: 100%;
    }
    .all_portraits_list, 
    .all_articles_list {
        margin-left: 10px;
        margin-bottom: 20px;
        width: 97%;
    }
}
@media all and (min-width: 425px) and (max-width: 767px){
    .nav_articles, 
    .nav_portraits {
        flex-direction: column;
    }
    .portrait_container h2, 
    .article_container h2 {
        width: -webkit-fill-available;
    }
    .article_container img, 
    .portrait_container img {
        width: 260px;
        height: 200px;
    }
    .show_article, 
    .show_portrait {
        width: 100%;
    }
    .article_container p, 
    .portrait_container p {
        margin-left: 0px;
    }
    .comments_form {
        width: 100%;
    }
    .all_portraits_list, 
    .all_articles_list {
        margin-left: 10px;
        margin-bottom: 20px;
        width: 97%;
    }
}
@media all and (min-width: 768px) and (max-width: 1023px){
    .nav_articles, 
    .nav_portraits {
        flex-direction: column;
    }
    .portrait_container h2, 
    .article_container h2 {
        width: -webkit-fill-available;
    }
    .article_container img, 
    .portrait_container img {
        width: 260px;
        height: 200px;
    }
    .show_article, 
    .show_portrait {
        width: 100%;
    }
    .article_container p, 
    .portrait_container p {
        margin-left: 0px;
    }
    .comments_form {
        width: 100%;
    }
    .all_portraits_list, 
    .all_articles_list {
        margin-left: 10px;
        margin-bottom: 20px;
        width: 97%;
    }
}
@media all and (min-width: 1024px) and (max-width: 1439px){
   
}