/* PROJET 5 OC: PROJET PERSONNEL */
/* Reset CSS */ 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body {
	margin: 0;
	padding: 0;
}
a:focus
{
outline:0;
} 
strong {
	font-weight: 700;
}
em {
	font-style: italic;
}

/*----- FRONT TEMPLATE PAGE ------*/
body {
    background-image: url("../public/images/texture-geométrique1.jpeg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.front_template_header {
    display: flex;
    flex-direction: row;
    background-color:rgba(112, 112, 112, 0.6);
    height: 90px;
    /* position: fixed; */
    z-index: 1;
    width: 100%;
}
.logo img {
    width: 233px;
    border-radius: 2px;
    margin-top: 7px;
    margin-left: 10px;
}
.navigation_menu_principal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    align-items: center;
    justify-content: space-around;
    margin-left: 25%; 
    font-family: 'Major Mono Display', monospace;
}
.navigation_menu_principal a:hover {
    color: #dde8df!important;
}
footer {
    display: flex;
    flex-direction: column;
    background-color:rgba(112, 112, 112, 0.6);
    height: 150px;
    width: 100%;
}
.infos_container {
    display: flex;
    flex-direction: row;
    padding: 20px 0px; 
}
.contact_infos,
.ei_infos {
    display: flex;
    flex-direction: column;
    width: 25%;
}
.contact_infos h4,
.ei_infos h4,
.suivez-moi h4 {
    font-family: 'Major Mono Display', cursive;
    font-size: 1.2em;
    padding-bottom: 10px;
}
.contact_infos p,
.ei_infos p {
    font-family: 'poiret one', cursive;
    font-size: 1em;
    padding-bottom: 5px;
    color: white; 
}
.footer_logo {
    display: flex;
    width: 25%;
}
.footer_logo img {
    width: 40%;
    margin-left: 10%;
}
.copyright_container {
    display: flex;
    margin: 0 auto;
    font-family: 'poiret one', cursive;
    font-weight: 500;
    font-size: 1em;
    color: white;
}

/*----- INDEXVIEW PAGE -----*/
        /*----- HEADER AND INTRO -----*/
.intro {
    display: flex;
    background-color: rgba(255, 255, 255, 0.6);
    width: 90%;
    height: 100%; 
    margin: 0 auto;
    margin-top: 100px;  
}
.intro_container {
    display: flex;
    flex-direction: column;
    margin: 3% auto;
    background-image: url("../public/images/business-2846221_1280.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo_intro_container {
    width: 30%;
    border-radius: 2px;
    margin-left: 35%;
    margin-top: 10px;
}
.intro_container_text {
    margin-left: 71%;
    margin-top: 14%;
    color: white;
    font-weight: 900;
}
.intro_container_text h3 {
    font-family: 'poiret one', cursive;
    font-weight: 700;
    font-size: 1.6em;
}

        /*----- SERVICES ----*/
.services_container {
    display: flex;
    flex-direction: column;
    font-family: 'poiret one', cursive;
    background-color: rgba(255, 255, 255, 0.6);
    width: 60%;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10%;
}
.services_container h2 {
    font-family: 'poiret one', cursive;
    font-weight: 700;
    font-size: 1.6em;
    margin: 0 auto;
    padding-bottom: 20px;
}
.services_container h3 {
    font-family: 'poiret one', cursive;
    font-weight: 700;
}
.services_container p {
    font-family: 'poiret one', cursive;
    font-weight: 300;
    padding: 10px;
    padding-bottom: 30Px;
}
.services_page_link {
    background-color: #dde8df;
    border-radius: 35px;
    width: 155px;
    height: 55px;
    padding-top: 14px;
    padding-left: 38px;
    font-family: 'poiret one', cursive;
    font-size: 1.4em;
    font-weight: 700;
    margin-left: 77%;
    color:black!important;
    cursor: pointer;
    display: inline-block;
}
.services_page_link:hover {
    color: #128f8c!important;
}

        /*----- PORTFOLIO -----*/
.portfolio_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px; 
    width: 60%;
    margin: 0 auto;
    font-family: 'poiret one', cursive;
    font-weight: 700;
    font-size: 1.6em;
    margin-bottom: 90px;
    text-align: center;
}
.portfolio_container h2 {
    margin: 0 auto;
    margin-bottom: 40px;
}
.projects_navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.projects_published {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    margin-bottom: 40px;
}
.projects_published h3 {
    margin-bottom: 20px;
    font-size: 0.6em;
}
.portfolio_page_link {
    background-color: #dde8df;
    border-radius: 35px;
    width: 215px;
    height: 55px;
    padding-top: 14px;
    padding-left: 5px;
    font-size: 0.8em;
    margin-left: 38%;
    color:black!important;
    cursor: pointer;
    display: inline-block;
}
.portfolio_page_link:hover {
    color: #128f8c!important;
}

        /*----- ABOUT -----*/
.about_container {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px; 
    width: 80%;
    margin: 0 auto;
    font-family: 'poiret one', cursive;
    font-weight: 700;
    font-size: 1.6em;
    height: 200px;
    margin-bottom: 90px;
}
.about_container h2 {
    margin: 0 auto;
}
.about_container p {
    margin: 0 auto;
    font-weight: 400;
    font-size: 0.8em;
    padding-top: 20px;
}
.about_page_link {
    background-color: #dde8df;
    border-radius: 35px;
    width: 155px;
    height: 55px;
    padding-top: 14px;
    padding-left: 36px;
    font-size: 0.8em;
    margin-left: 82%;
    color:black!important;
    cursor: pointer;
    display: inline-block;
}
.about_page_link:hover {
    color: #128f8c!important;
}

/*----- SERVICES PAGE -----*/
.title_services {
    display: flex;
}
.title_services h1 {
    margin: 20px auto;
    padding: 20px;
    padding-top: 25px;
    background-color: rgba(255, 255, 255, 0.6);
    font-family: 'poiret one', cursive;
    font-size: 2em;
    font-weight: 700;
    color: black;
}
.all_services_container {
    display: flex;
    flex-direction: column;
}
.web_site_creation_titles,
.natural_ref_titles,
.web_redaction_titles,
.solution_dev_titles {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.6);
    font-family: 'poiret one', cursive;
    color: black;
    width: 40%;
    margin-left: 10%;
    margin-top: 2%;
    padding: 20px;
    padding-top: 25px!important;
}
.web_site_creation_container h2,
.natural_ref_container h2,
.web_redaction_container h2,
.solution_dev_container h2 {
    font-size: 1.5em;
    font-weight: 700;  
}
.web_site_creation_container h3,
.natural_ref_container h3,
.web_redaction_container h3,
.solution_dev_container h3 {
    font-size: 1.2em;
    font-weight: 700; 
}
.web_site_creation_text,
.natural_ref_text,
.web_redaction_text,
.solution_dev_text {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.6);
    font-family: 'poiret one', cursive;
    color: black;
    width: 62%;
    margin-left: 30%;
    margin-bottom: 4%;
    margin-top: -15px;
    padding: 20px;
    padding-top: 25px!important;
}
.web_site_creation_container p,
.natural_ref_container p,
.web_redaction_container p,
.solution_dev_container p {
    font-size: 1em;
    font-weight: 400;  
}
.devis_button {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.6);
    font-family: 'poiret one', cursive;
    color: black;
    width: 15%;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.contact_page_link {
    background-color: #128f8c;
    border-radius: 35px;
    width: 155px;
    height: 55px;
    padding-top: 18px;
    padding-left: 55px;
    font-family: 'poiret one', cursive;
    font-weight: 700; 
    font-size: 1.4em;
    margin: 0 auto;
    color:black!important;
    cursor: pointer;
    display: inline-block;
}
.contact_page_link:hover {
    color: #dde8df!important;
}

/*----- ABOUTVIEW PAGE -----*/
.portrait_perso {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.6);
    font-family: 'poiret one', cursive;
    color: black;
    width: 25%; 
    margin: 0 auto;
    margin-bottom: 20px;
}
.portrait_photo {
    display: flex;
}
.portrait_myself {
    margin: 40px auto;
}
.citation {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    margin-left: 20px;
}
.citation h4 {
    margin: 0 auto;
}
.cv_container {
    display: flex;
    flex-direction: column;
    margin-top: 20Px;
}
.experience_container {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.6);
    font-family: 'poiret one', cursive;
    color: black;
    width: 65%; 
    margin-left: 8%;
    margin-bottom: 4%;
    padding: 20px;
}
.experience_title h2,
.comp_pro h2,
.comp_langues h2,
.formation_title h2 {
    font-family: 'Major Mono Display', cursive;
    font-weight: 700;
    margin-bottom: 25px;
}
.exp_divers {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.experience,
.formation {
    margin-bottom: 20px;
}
.experience h2,
.formation h2 {
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 5px;
}
.experience h3,
.formation h3 {
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 5px;
}
.experience h4,
.formation h4 {
    margin-left: 40px;
    margin-bottom: 5px;
    font-size: 0.9em;
}
.competences_container {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.6);
    font-family: 'poiret one', cursive;
    color: black;
    width: 35%; 
    margin-left: 58%;
    margin-bottom: 4%;
    padding: 20px;
}
.comp_pro {
    margin-bottom: 30px; 
}
.competences {
    margin-left: 25px;
    margin-bottom: 10px;
}
.formation_container {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.6);
    font-family: 'poiret one', cursive;
    color: black;
    width: 50%; 
    padding: 20px;
    margin: 0 auto; 
}
.links {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-family: 'poiret one', cursive;
    color: black;
    background-color: rgba(255, 255, 255, 0.6);
    width: 15%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px; 
}
.git_linkedin a {
    padding: 5px;
}
.git,
.linkedin {
    display: flex;
    flex-direction: row;
}
.git a:hover,
.linkedin a:hover {
    color: #128f8c;
} 
.linkedin p,
.git p {
    margin-left: 10px;
    margin-top: 10px;
}
.linkedin img,
.git img {
    margin-right: 10px;
}

/*----- PORTFOLIOVIEW PAGE -----*/
.title_portfolio {
    display: flex;
}
.title_portfolio h1 {
    margin: 20px auto;
    padding: 20px;
    padding-top: 25px;
    background-color: rgba(255, 255, 255, 0.6);
    font-family: 'poiret one', cursive;
    font-size: 2em;
    font-weight: 700;
    color: black;
}
.portfolio_projects_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'poiret one', cursive;
    font-size: 2em;
    font-weight: 700;
    color: black;
    height: auto;
    margin: 20px auto;
}
.all_projects_published {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 25px;
}
.all_projects_published h3 {
    font-size: 0.7em;
    width: 140px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.all_projects_published h4 {
    width: 200px;
    margin-bottom: 10px;
}
.all_projects_published a,
.description_btn {
    font-size: 0.5em;
    font-family: 'poiret one', 'cursive';
    width: 110px;
    margin: 0 auto;
    margin-bottom: 10px;
}
        /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
        /* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.modal-content h4 {
    font-size: 0.7em;
    width: 100%;
}
.modal-content h5 {
    font-size: 0.5em;
    width: 100%;
}
  
    /* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*----- CONTACTVIEW PAGE -----*/
.title_contact {
    display: flex;
}
.title_contact h1 {
    margin: 20px auto;
    padding: 20px;
    padding-top: 25px;
    background-color: rgba(255, 255, 255, 0.6);
    font-family: 'poiret one', cursive;
    font-size: 2em;
    font-weight: 700;
    color: black;
}
.contact_container {
    display: flex;
    flex-direction: row;
    margin-top: 90px;
    margin-bottom: 50px;
}
.form_container {
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.6);
    font-family: 'poiret one', cursive;
    color: black;
    width: 30%; 
    padding: 20px;
    margin: 0 auto;
}
.contact_infos_container {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.6);
    font-family: 'poiret one', cursive;
    color: black;
    width: 30%; 
    padding: 20px;
    margin: 0 auto;
}
.form {
    font-family: 'poiret one', cursive;
    font-size: 1em;
    margin-bottom: 4px;
    border: 1px solid #128f8c;
    height: 20px;
    width: 98%;
}
.content {
    height: 110px!important;
}
.envoyer {
    margin-top: 10px;
    width: 30%;
    margin: 0 auto;
    height: 30px;
}
.contact_infos_container h4 {
    font-family: 'Major Mono Display', cursive;
    color: black;
    margin-bottom: 20px;
}
.contact_infos_container p {
    margin-left: 5%;
}
.facebook_icon,
.instagram_icon {
    color: black!important;
}
.mail_number,
.entreprise_infos,
.reseaux_sociaux {
    margin-bottom: 20px;
}
.mail_number p,
.entreprise_infos p {
    margin-bottom: 3%;
}

/*----- LOGINVIEW PAGE -----*/
.connexion_container {
    display: flex;
    flex-direction: column;
}
.connexion_form {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
    margin: 220px auto;
    width: 20%;
}
.connex_form {
    font-family: 'poiret one', 'cursive';
    margin-bottom: 10px;
}

/*----- FLASH MESSAGES -----*/
.danger {
	font-family: 'poiret one', 'cursive';
	font-size: 1.4em;
	color: coral;
	text-align: center;
	margin-top: 20px;
}

/*----- MENTIONSLEGALES VIEW -----*/
.mentions_legales {
    display: flex;
    flex-direction: column;
    font-family: 'poiret one', 'cursive';
    padding: 30px;
}
.mentions_legales h1 {
    font-size: 1.6em;
    margin-top: 20px;
    text-align: center;
}
.mentions_legales h2 {
    font-size: 1.4em;
    margin-top: 30px;
}
.mentions_legales h3 {
    font-size: 1.2em;
    margin-top: 30px;
}


/*--------------------------*/
/*----- MEDIA QUERIES ------*/
/*--------------------------*/

/*----- FRONT TEMPLATE PAGE ------*/
@media all and (min-width: 320px) and (max-width: 374px){
    .front_template_header {
        flex-direction: column;
        height: 175px;
        width: 100%;
    }
    .logo {
        margin: 0 auto;
        margin-top: 5%;
    }
    .logo img {
        margin-left: 0px;
    }
    .navigation_menu_principal {
        margin-top: 10px;
        margin-left: 10%;
    }
    footer {
        height: auto;
    }
    .footer_logo img {
        width: 200px;
        margin-bottom: 20px;
        margin-left: 20%;
    }
    .infos_container {
        flex-direction: column;
        margin-left: 20px;
    }
    .copyright_container {
        padding: 20px;
    }
}
@media all and (min-width: 375px) and (max-width: 424px){
    .front_template_header {
        flex-direction: column;
        height: 175px;
        width: 100%;
    }
    .logo {
        margin: 0 auto;
        margin-top: 5%;
    }
    .logo img {
        margin-left: 0px;
    }
    .navigation_menu_principal {
        margin-top: 10px;
        margin-left: 10%;
    }
    footer {
        height: auto;
    }
    .footer_logo img {
        width: 200px;
        margin-bottom: 20px;
        margin-left: 35%;
    }
    .infos_container {
        flex-direction: column;
        margin-left: 20px;
    }
    .copyright_container {
        padding: 20px;
    }
}
@media all and (min-width: 425px) and (max-width: 767px){
    .front_template_header {
        flex-direction: column;
        height: 175px;
        width: 100%;
    }
    .logo {
        margin: 0 auto;
        margin-top: 5%;
    }
    .logo img {
        margin-left: 0px;
    }
    .navigation_menu_principal {
        margin-top: 10px;
        margin-left: 10%;
    }
    footer {
        height: auto;
    }
    .footer_logo img {
        width: 200px;
        margin-bottom: 20px;
        margin-left: 48%;
    }
    .infos_container {
        flex-direction: column;
        margin-left: 20px;
    }
    .copyright_container {
        padding: 20px;
    }
}
@media all and (min-width: 768px) and (max-width: 1024px){
    footer {
        height: auto;
    }
    .footer_logo {
        width: 23%;
    }
    .footer_logo img {
        width: 140px;
        margin-bottom: 20px;
        margin-left: 2%;
    }
    .infos_container {
        flex-direction: row;
        margin-left: 20px;
    }
    .contact_infos {
        width: 28%;
    }
    .copyright_container {
        padding: 20px;
    }
}
@media all and (min-width: 1025px) and (max-width: 1439px){
    footer {
        height: auto;
    }
    .footer_logo {
        width: 23%;
    }
    .footer_logo img {
        width: 140px;
        margin-bottom: 20px;
        margin-left: 2%;
    }
    .infos_container {
        flex-direction: row;
        margin-left: 20px;
    }
    .contact_infos {
        width: 28%;
    }
    .copyright_container {
        padding: 20px;
    }
}

/*----- INDEXVIEW PAGE ------*/
@media all and (min-width: 320px) and (max-width: 374px){
    .intro {
        margin-top: 20px;
        padding: 20px;
    }
    .intro_container_text {
        margin-left: 20%;
    }
    .services_container {
        width: 80%;
    }
    .services_page_link {
        margin-left: 15%;
    }
    .portfolio_container {
        width: 90%;
    }
    .projects_navigation {
        flex-direction: column;
        margin: 0 auto;
    }
    .portfolio_page_link {
        margin-left: 0%;
    }
    .about_container {
        height: 460px;
    }
    .about_page_link {
        margin-left: 15%;
        margin-top: 20px;
        padding-top: 6px;
    }
}
@media all and (min-width: 375px) and (max-width: 424px){
    .intro {
        margin-top: 20px;
        padding: 20px;
    }
    .intro_container_text {
        margin-left: 10%;
    }
    .services_container {
        width: 80%;
    }
    .services_page_link {
        margin-left: 15%;
    }
    .portfolio_container {
        width: 90%;
    }
    .projects_navigation {
        flex-direction: column;
        margin: 0 auto;
    }
    .portfolio_page_link {
        margin-left: 0%;
    }
    .about_container {
        height: 460px;
    }
    .about_page_link {
        margin-left: 15%;
        margin-top: 20px;
        padding-top: 15px;
    }
}
@media all and (min-width: 425px) and (max-width: 767px){
    .intro {
        margin-top: 20px;
        padding: 20px;
    }
    .intro_container_text {
        margin-left: 10%;
    }
    .services_container {
        width: 80%;
    }
    .services_page_link {
        margin-left: 25%;
    }
    .portfolio_container {
        width: 90%;
    }
    .projects_navigation {
        flex-direction: column;
        margin: 0 auto;
    }
    .portfolio_page_link {
        margin-left: 0%;
    }
    .about_container {
        height: 390px;
    }
    .about_page_link {
        margin-left: 25%;
        margin-top: 20px;
        padding-top: 15px;
    }
}
@media all and (min-width: 768px) and (max-width: 1023px){
    .intro {
        margin-top: 20px;
        padding: 20px;
    }
    .intro_container_text {
        margin-left: 57%;
        margin-top: 28%;
    }
    .services_container {
        width: 80%;
    }
    .services_page_link {
        margin-left: 70%;
    }
    .portfolio_container {
        width: 90%;
    }
    .projects_navigation {
        flex-direction: column;
        margin: 0 auto;
    }
    .portfolio_page_link {
        margin-left: 0%;
    }
    .about_container {
        height: auto;
    }
    .about_page_link {
        margin-left: 73%;
        margin-top: 20px;
        padding-top: 15px;
    }
}
@media all and (min-width: 1024px) and (max-width: 1439px){
    .intro {
        margin-top: 20px;
        padding: 20px;
    }
    .intro_container_text {
        margin-left: 57%;
        margin-top: 18%;
    }
    .services_container {
        width: 80%;
    }
    .services_page_link {
        margin-left: 70%;
    }
    .portfolio_container {
        width: 90%;
    }
    .projects_navigation {
        flex-direction: column;
        margin: 0 auto;
    }
    .portfolio_page_link {
        margin-left: 0%;
    }
    .about_container {
        height: auto;
    }
    .about_page_link {
        margin-left: 73%;
        margin-top: 20px;
        padding-top: 15px;
    }
}

/*------ SERVICES PAGE -----*/
@media all and (min-width: 319px) and (max-width: 374px){
    .web_site_creation_titles,
    .solution_dev_titles,
    .natural_ref_titles,
    .web_redaction_titles {
        width: 80%;
    }
    .web_site_creation_titles h2,
    .solution_dev_titles h2,
    .natural_ref_titles h2,
    .web_redaction_titles h2 {
        font-size: 1.2em;
    }
    .web_site_creation_titles h3,
    .solution_dev_titles h3,
    .natural_ref_titles h3,
    .web_redaction_titles h3 {
        font-size: 1em;
    }
    .web_site_creation_text,
    .solution_dev_text,
    .natural_ref_text,
    .web_redaction_text {
        width: 76%;
        margin-left: 19%;
    }
    .devis_button {
        width: 62%;
    }
}
@media all and (min-width: 375px) and (max-width: 424px){
    .web_site_creation_titles,
    .solution_dev_titles,
    .natural_ref_titles,
    .web_redaction_titles {
        width: 80%;
    }
    .web_site_creation_titles h2,
    .solution_dev_titles h2,
    .natural_ref_titles h2,
    .web_redaction_titles h2 {
        font-size: 1.2em;
    }
    .web_site_creation_titles h3,
    .solution_dev_titles h3,
    .natural_ref_titles h3,
    .web_redaction_titles h3 {
        font-size: 1em;
    }
    .web_site_creation_text,
    .solution_dev_text,
    .natural_ref_text,
    .web_redaction_text {
        width: 76%;
        margin-left: 19%;
    }
    .devis_button {
        width: 62%;
    }

}
@media all and (min-width: 425px) and (max-width: 767px){
    .web_site_creation_titles,
    .solution_dev_titles,
    .natural_ref_titles,
    .web_redaction_titles {
        width: 80%;
    }
    .web_site_creation_titles h2,
    .solution_dev_titles h2,
    .natural_ref_titles h2,
    .web_redaction_titles h2 {
        font-size: 1.2em;
    }
    .web_site_creation_titles h3,
    .solution_dev_titles h3,
    .natural_ref_titles h3,
    .web_redaction_titles h3 {
        font-size: 1em;
    }
    .web_site_creation_text,
    .solution_dev_text,
    .natural_ref_text,
    .web_redaction_text {
        width: 76%;
        margin-left: 19%;
    }
    .devis_button {
        width: 62%;
    }
}
@media all and (min-width: 768px) and (max-width: 1023px){
    .web_site_creation_titles,
    .solution_dev_titles,
    .natural_ref_titles,
    .web_redaction_titles {
        width: 80%;
    }
    .web_site_creation_titles h2,
    .solution_dev_titles h2,
    .natural_ref_titles h2,
    .web_redaction_titles h2 {
        font-size: 1.2em;
    }
    .web_site_creation_titles h3,
    .solution_dev_titles h3,
    .natural_ref_titles h3,
    .web_redaction_titles h3 {
        font-size: 1em;
    }
    .web_site_creation_text,
    .solution_dev_text,
    .natural_ref_text,
    .web_redaction_text {
        width: 76%;
        margin-left: 19%;
    }
    .devis_button {
        width: 35%;
    }
}
@media all and (min-width: 1024px) and (max-width: 1439px){
    .web_site_creation_titles,
    .solution_dev_titles,
    .natural_ref_titles,
    .web_redaction_titles {
        width: 80%;
    }
    .web_site_creation_titles h2,
    .solution_dev_titles h2,
    .natural_ref_titles h2,
    .web_redaction_titles h2 {
        font-size: 1.2em;
    }
    .web_site_creation_titles h3,
    .solution_dev_titles h3,
    .natural_ref_titles h3,
    .web_redaction_titles h3 {
        font-size: 1em;
    }
    .web_site_creation_text,
    .solution_dev_text,
    .natural_ref_text,
    .web_redaction_text {
        width: 76%;
        margin-left: 19%;
    }
    .devis_button {
        width: 30%;
    }
}

/*------ ABOUTVIEW PAGE -----*/
@media all and (min-width: 320px) and (max-width: 374px){
    .experience_container {
        width: 84%;
    }
    .portrait_perso {
        width: 55%;
    }
    .competences_container {
        width: 80%;
        margin-left: 10%;
    }
    .formation_container {
        width: 90%;
    }
    .links {
        width: 29%;
    }
}
@media all and (min-width: 375px) and (max-width: 424px){
    .experience_container {
        width: 84%;
    }
    .portrait_perso {
        width: 55%;
    }
    .competences_container {
        width: 80%;
        margin-left: 10%;
    }
    .formation_container {
        width: 90%;
    }
    .links {
        width: 29%;
    }
}
@media all and (min-width: 425px) and (max-width: 767px){
    .experience_container {
        width: 84%;
    }
    .portrait_perso {
        width: 55%;
    }
    .competences_container {
        width: 80%;
        margin-left: 10%;
    }
    .formation_container {
        width: 90%;
    }
    .links {
        width: 29%;
    }
}
@media all and (min-width: 768px) and (max-width: 1023px){

}
@media all and (min-width: 1024px) and (max-width: 1439px){

}

/*------ PORTFOLIOVIEW PAGE -----*/
@media all and (min-width: 320px) and (max-width: 374px){
    .all_projects_published {
        margin-left: 39px;
    }
}
@media all and (min-width: 375px) and (max-width: 424px){
    .all_projects_published {
        margin-left: 66px;
    }
}
@media all and (min-width: 425px) and (max-width: 767px){
    .all_projects_published {
        margin-left: 92px;
    }
}
@media all and (min-width: 768px) and (max-width: 1023px){
    .all_projects_published {
        margin-left: 92px;
    }
}
@media all and (min-width: 1024px) and (max-width: 1439px){
    .all_projects_published {
        margin-left: 70px;
    }
}

/*------ CONTACTVIEW PAGE -----*/
@media all and (min-width: 320px) and (max-width: 374px){
    .contact_container {
        flex-direction: column;
        margin-top: 20px;
    }
    .form_container,
    .contact_infos_container {
        width: 90%;
        margin-bottom: 10px;
    }
}
@media all and (min-width: 375px) and (max-width: 424px){
    .contact_container {
        flex-direction: column;
        margin-top: 20px;
    }
    .form_container,
    .contact_infos_container {
        width: 90%;
        margin-bottom: 10px;
    }
}
@media all and (min-width: 425px) and (max-width: 767px){
    .contact_container {
        flex-direction: column;
        margin-top: 20px;
    }
    .form_container,
    .contact_infos_container {
        width: 90%;
        margin-bottom: 10px;
    }
}
@media all and (min-width: 768px) and (max-width: 1023px){
    .contact_container {
        margin-top: 20px;
    }
    .form_container,
    .contact_infos_container {
        width: 40%;
        margin-bottom: 10px;
    }
}
@media all and (min-width: 1024px) and (max-width: 1439px){
    .contact_container {
        margin-top: 20px;
    }
    .form_container,
    .contact_infos_container {
        width: 45%;
        margin-bottom: 70px;
    }
}

/*------ LOGIN PAGE -----*/
@media all and (min-width: 320px) and (max-width: 374px){
    .connexion_form {
        margin: 20px auto;
        width: 90%;
    }  
}
@media all and (min-width: 375px) and (max-width: 424px){
    .connexion_form {
        margin: 20px auto;
        width: 90%;
    }  
}
@media all and (min-width: 425px) and (max-width: 767px){
    .connexion_form {
        margin: 20px auto;
        width: 90%;
    }  
}
@media all and (min-width: 768px) and (max-width: 1023px){
    .connexion_form {
        margin: 225px auto;
        width: 40%;
    } 
}
@media all and (min-width: 1024px) and (max-width: 1439px){
    .connexion_form {
        margin: 225px auto;
        width: 40%;
    } 
}